[Oo]bj/
[Bb]in/
src/**/[Bb]in/
.nuget/
_ReSharper.*
*.user
*.cache
*.suo
*.userprefs
*.sln.ide
license.xml
lib/Modules/*
.vs
node_modules
.vscode
*.log
*.zip
*.user.config
*.user.js
*.user.targets
packages/
*sc-internal*

gulp-config.js
package.json
publishsettings.targets
package-lock.json
publish.ps1
*.pubxml
*.pubxml.user
